// 
// Bootstrap default
// 

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

//
// Overrides
// 

$body-bg: #f8fbff;
$card-cap-bg: $white;
$navbar-light-hover-color: #0eb2db;


// 
// Custom
// 

$color-standout: #ff9711;