@import 'src/styles/variables';

.navbar__avatar-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #c7c7c7;
  display: inline-block;
}

.navbar__avatar {
  border-radius: 50%;
}

.navbar__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & .btn-link {
    color: $gray-600;

    &:hover {
      color: $gray-900;
    }
  }
}