@import 'src/styles/variables';

.diagram-container {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up('md') {
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 95%;
      height: 1px;
      background-color: $gray-300;
    }
  }
}

.diagram__factory-container {
  position: relative;
  z-index: 5;
  background: white;
  border: 2px solid $gray-300;
  border-radius: 50%;
  padding: 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-900;
}